<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	  	<listeners>
		<listener class-name="com.omayo.utility.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Test">
	 <parameter name="userName" value="MunaYousef"></parameter>
	<parameter name="pass" value="1234@muna"></parameter>
	  
    <classes>

      <class name="com.omayo.centerpagetest.LoginTest"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
